service: smart-hat-engine

plugins:
  - serverless-plugin-select

custom:
  awsAccountId:
    Ref: AWS::AccountId
  region: eu-west-1
  profile:
    stage: dswift-stage
    sandbox: dswift-sandbox
    live: hatdex
  securityGroupId:
    stage: sg-0be87de17684f8c7c
    sandbox: sg-0286d0c4449dc664a
  subnetId1:
    stage: subnet-0748295b1d2fc808f
    sandbox: subnet-0287d16027e952009
  subnetId2:
    stage: subnet-086792048830b8052
    sandbox: subnet-0da38a13fdb9ac7dc

provider:
  name: aws
  runtime: java8
  region: ${self:custom.region}
  profile: ${self:custom.profile.${self:provider.stage}}
  stage: ${opt:stage,'sandbox'}
  memorySize: 256
  versionFunctions: false
  timeout: 10
  logRetentionInDays: 30
  endpointType: regional
  vpc:
    securityGroupIds:
      - ${self:custom.securityGroupId.${self:provider.stage}}
    subnetIds:
      - ${self:custom.subnetId1.${self:provider.stage}}
      - ${self:custom.subnetId2.${self:provider.stage}}

package:
  individually: true
  artifact: artifacts/data-feed-counter.jar

functions:

  api-data-feed-counter:
    handler: org.hatdex.hat.she.functions.DataFeedCounterProxyHandler::handle
    package:
      individually: true
      artifact: artifacts/data-feed-counter.jar
    timeout: 120
    events:
      - http:
          path: data-feed-counter/1.0.0
          method: post

  api-data-feed-counter-configuration:
    handler: org.hatdex.hat.she.functions.DataFeedCounterConfigurationProxyHandler::handle
    package:
      individually: true
      artifact: artifacts/data-feed-counter.jar
    events:
      - http:
          path: data-feed-counter/1.0.0/configuration
          method: get

  api-data-feed-counter-bundle:
    handler: org.hatdex.hat.she.functions.DataFeedCounterBundleProxyHandler::handle
    package:
      individually: true
      artifact: artifacts/data-feed-counter.jar
    events:
      - http:
          path: data-feed-counter/1.0.0/data-bundle
          method: get

  data-feed-counter:
    handler: org.hatdex.hat.she.functions.DataFeedCounterHandler::handle
    package:
      individually: true
      artifact: artifacts/data-feed-counter.jar
    timeout: 120

  data-feed-counter-configuration:
    handler: org.hatdex.hat.she.functions.DataFeedCounterConfigurationHandler::handle
    package:
      individually: true
      artifact: artifacts/data-feed-counter.jar

  data-feed-counter-bundle:
    handler: org.hatdex.hat.she.functions.DataFeedCounterBundleHandler::handle
    package:
      individually: true
      artifact: artifacts/data-feed-counter.jar

  api-sentiment-tracker:
    handler: org.hatdex.hat.she.functions.SentimentTrackerProxyHandler::handle
    package:
      individually: true
      artifact: artifacts/sentiment-tracker.jar
    memorySize: 1024
    timeout: 120
    events:
      - http:
          path: sentiment-tracker/1.0.0
          method: post

  api-sentiment-tracker-configuration:
    handler: org.hatdex.hat.she.functions.SentimentTrackerConfigurationProxyHandler::handle
    package:
      individually: true
      artifact: artifacts/sentiment-tracker.jar
    memorySize: 1024
    events:
      - http:
          path: sentiment-tracker/1.0.0/configuration
          method: get

  api-sentiment-tracker-bundle:
    handler: org.hatdex.hat.she.functions.SentimentTrackerBundleProxyHandler::handle
    package:
      individually: true
      artifact: artifacts/sentiment-tracker.jar
    memorySize: 1024
    events:
      - http:
          path: sentiment-tracker/1.0.0/data-bundle
          method: get

  sentiment-tracker:
    handler: org.hatdex.hat.she.functions.SentimentTrackerHandler::handle
    package:
      individually: true
      artifact: artifacts/sentiment-tracker.jar
    memorySize: 1024
    timeout: 300

  sentiment-tracker-configuration:
    handler: org.hatdex.hat.she.functions.SentimentTrackerConfigurationHandler::handle
    package:
      individually: true
      artifact: artifacts/sentiment-tracker.jar
    memorySize: 1024

  sentiment-tracker-bundle:
    handler: org.hatdex.hat.she.functions.SentimentTrackerBundleHandler::handle
    package:
      individually: true
      artifact: artifacts/sentiment-tracker.jar
    memorySize: 1024
